.news-img {
    width: 320px;
    height: 325px;
}

.show-moreBtn {
    color: red;
    border: none;
    background-color: rgb(255, 161, 219);
    margin-top: 20px;
}
.show-moreBtn:hover {
    background-color: rgb(247, 166, 216);
  
}

.arrowRight-icon {
    color: red;
}

.new-title {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    color: rgb(194, 41, 125);
    font-size: 50px;
    font-weight: bold;
}

.news-img {
    width: 270px;
    height: 270px;
}

.card p{
    width: 100%;
    margin: 10px 0;
    text-align: end;
    font-size: 16px;     
    color: #bfbfbf;
}

.news {
    margin-left: 25px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.news-title{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}