.feedback-title {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    color: rgb(194, 41, 125);
    font-size: 50px;
    font-weight: bold;
  }
  
  .feedback {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feedback form {
    width: 60%;
    display: grid;
  }
  .feedback-inp {
    width: 100%;
  
    width: 100%;
    border: 1px solid #cfcfcf;
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 30px;
  }
  
  .feedback-textarea {
    width: 100%;
    height: 150px;
    width: 100%;
    border: 1px solid #cfcfcf;
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 30px;
  }
  .feedback-btn {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background:rgb(255, 177, 220);
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    border: 1px solid transparent;
  }
  
  .feedback-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .delevery-icons {
    font-size: 80px;
  }
  
  .delivry-titles {
    display: flex;
    justify-content: space-around;
    color: gray;
    text-decoration: none;
  }
  .delivry-titles:hover {
    color: palevioletred;
  }
  .feedback-link {
    text-decoration: none;
    color: #8d9fbd;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .feedback-link:hover {
    color:orchid;
  }
  