/* .seasons-title {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    color: rgb(194, 41, 125);
    font-size: 50px;
    font-weight: bold;
}

.seasons-offers {
    margin-left: 25px;
    gap: 10px;
     } */