.footer {
    box-shadow: 0 0 10px rgba(0, 0, 0, .13);
    margin-top: 35px;
}

.footrs-menu {

    display: flex;
    justify-content: space-between;
   
}

.titles-of-footer {
    color: rgb(206, 59, 108);
}

.callBtn {
    background-color: rgb(255, 143, 190);
    color: white;
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 40px;
}

.phone-number {
    background: rgb(255, 143, 190);
    border-radius: 10px;
    padding: 5px;
}
.footer-logos{
    width: 140px;
    height: 65px;
}
.footerLinks{
    text-decoration: none;
    color: black;
}