/* .App {
  text-align: center;
} */

body {
  background-color: rgb(255, 249, 239);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose {
  width: 900px;
  height: 200px;
  border: none;
  background-color: rgb(229, 231, 231);
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
}

.choose:hover {
  border: 2px solid rgb(0, 0, 0);

}

.label {
  color: rgb(124, 112, 112);
}



.checkbox {
  display: flex;
}

.second-checkbox {

  margin-top: 21px;
}

.posters {
  height: 210px;
}

.but {
  background-color: orange;
  width: 140px;
  height: 30px;
  border: none;
  border-radius: 20px;
}

.gray {
  color: gray;
  font-size: 15px;
}

.films {

  background-color: #eff3f8;
  margin: 0;
  padding: 50px;
  padding-top: 70px;
  height: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}

.aboutmovie {
  width: 250px;
}



/* all-movies css */

.all-films {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

}

.link {
  color: rgb(47, 122, 141);
  text-decoration: none;
}

.delete{
  width: 125px;
  height: 35px;
  font-size: large;
  border: 2px solid black;
  border-radius: 15px;
  background-color:  rgb(154, 198, 230);
}

.form {
  width: 180px;
  background-color:rgb(149, 183, 207);
}
.form:hover{
  border: 1px solid black;
}

.form-inp{
  width: 170px;
  height: 20px;

}

.open-but{
  width: 115px;
  height: 35px;
  font-size: large;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(154, 198, 230);
}
.send{
  background-color: rgb(154, 198, 230);
  width: 110px;
}